#content {
  width: 100%;
}

body {
  background-attachment: fixed;
  background-image: url('images/background4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    color: white;
    font-size: 70px;
    padding: 50px;
    right: 0;
    text-align: center;
    top: 0;}
a{
    color: white;
    font-size: 20px; 
}
p {
    color: white;
    padding: 20px;
    text-align: center;
    }

footer {
    bottom: 0;
    color: white;
    left: 0;
    text-align: center;
    padding: 30px;
    position: fixed;
    width: 100%;
}
        