#content {
  width: 100%;
}

body {
  background-attachment: fixed;
  background-image: url('images/background6.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    color: white;
    font-size: 90px;
    padding: 40px;
    right: 0;
    text-align: center;
    top: 0;}
a{
    color: white;
    font-size: 30px; 
}
p {
    color: white;
    padding: 20px;
    text-align: center;
    }

footer {
    bottom: 0;
    color: white;
    font-size: 20px;
    left: 0;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}
        